.Rproj.user
.Rhistory
.RData
.Ruserdata
/real_data/**
/data/**
/.idea
/__pycache__
/.ipynb_checkpoints
R/simulated_data
**/.idea
**/.vscode
**/__pycache__
**/.ipynb_checkpoints
**/.pyc
.RData
others/scDeepCluster
others/ae_weights.h5
.Rhistory
/output/pickle_results/real_data/real_data_scGNN_features.pkl
/others/scGNN/myres
/others/scGNN/outputdir
output/pickle_results/real_data/real_data_gae_features.pkl
output/pickle_results/real_data/real_data_gae_features1.pkl
output/pickle_results/real_data/real_data_gae_2L.pkl
output/pickle_results/real_data/real_data_gae_corr.pkl
output/pickle_results/real_data/real_data_gae_corr_genes.pkl
output/pickle_results/real_data/real_data_gae_mean.pkl
output/pickle_results/real_data/real_data_gae_tissue.pkl
output/pickle_results/real_data/real_data_gae_tissue1.pkl

